@import 'tailwindcss';

:root {
  --background: theme(--color-gray-50);
  --foreground: theme(--color-gray-950);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: theme(--color-gray-950);
    --foreground: theme(--color-gray-50);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}
